<!-- Advanced Slider with Breakpoints -->
<div class="swiper-container" 
     data-slides-per-view="3" 
     data-space-between="20" 
     data-loop="true"
     data-effect="fade"
     data-speed="800"
     data-breakpoints='{"768": {"slidesPerView": 2}, "576": {"slidesPerView": 1}}'>
    <div class="swiper-wrapper">
        <div class="swiper-slide">Slide 1</div>
        <div class="swiper-slide">Slide 2</div>
        <div class="swiper-slide">Slide 3</div>
    </div>
    <div class="swiper-pagination" data-pagination-type="fraction"></div>
</div>
