body{font-family: 'Roboto Condensed', sans-serif;}
.table-primary thead{background-color: #3c8dbc;}
.table-primary thead>tr>th{color: #fff;font-weight: 400;font-size: 13px;text-transform: uppercase;text-align: center;}
.table-primary thead>tr>th input[type=checkbox], input[type=radio]{margin: 0px;}
.treeview-menu>li.active{/* border-left: 2px solid #ffff; */}
.a_stt, .a_stt2{width: 50px;font-size: 14px;padding: 3px 5px;/* text-align: right; */background-color: #eee;box-shadow: inset 1px 1px 6px 1px #ccc;border: none;text-align: center;}
button:active, button:focus, input:focus, select:focus, textarea:focus{outline: none;}
.btn{}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{font-family: 'Roboto Condensed', sans-serif;}
.content-header>h1{font-size: 18px;font-weight: 600;}
.box-body{/* padding-top: 0; */}
.box-body .table-responsive{padding-bottom: 10px;}
.change_avata{position: relative;margin-top: 20px;background-color: #d75024;color: #fff;padding: 6px 23px;border-radius: 30px;margin: 12px auto;display: inline-block;}
.change_avata #img{opacity: 0;position: absolute;top: 0;left: 0;right: 0;bottom: 0;padding: 10px;z-index: 10;cursor: pointer;}
.change_avata span{
}
.box-img-user{display: flex;justify-content: center;align-items: center;height: 215px;background-color: #fff;padding: 10px;border: 1px solid #eee;border-radius: 10px;}
.box-img-user img{max-width: 100%;max-height: 100%;object-fit: cover;border-radius: 10px;}
.ct-job{
}
.ct-job .job_name{margin-bottom: 0px;text-transform: uppercase;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.ct-job .salary{margin-bottom: 0px;color: red;font-size: 14px;font-weight: 600;}
.ct-job .salary b{font-size: 14px;color: #545454;font-weight: 600;}
.ct-job .thongtink{margin-bottom: 0;font-size: 13px;color: #00649e;}
.thongso_job{border-bottom: 1px dashed #c8c9c9;margin-bottom: 10px;padding-bottom: 10px;color: #000;padding-left: 22px;font-size: 15px;font-weight: 500;position: relative;}
.thongso_job span{text-transform: uppercase;color: #939393;display: block;margin-bottom: 5px;font-size: 12px;}
.box-job{border: 1px solid #ddd;padding: 10px;}
.thongso_job span i{position: absolute;left: 0px;top: 2px;font-size: 14px;}
.title-job{font-size: 14px;text-transform: uppercase;font-weight: 600;position: relative;border-bottom: 1px solid #ddd;padding-bottom: 7px;margin-bottom: 20px;}
.title-job:before{content:"";position: absolute;height: 3px;width: 100px;background-color: #ff4b49;bottom: -2px;}
.content-job{margin-bottom: 30px;}
.name-job{font-weight: 600;margin-top: 0;margin-bottom: 20px;font-size: 16px;text-transform: uppercase;}
.comp-name{text-transform: uppercase;font-size: 16px;color: #817b7b;}
.box-lienhe{
}
.box-lienhe span{display: inline-block;width: 90px;color: #797878;}
.box-congty{
}
.box-congty img{margin-bottom: 20px;}
.box-congty p{font-weight: 500;color: #000000;}
.box-congty p i{color: #6e6e6e;display: inline-block;margin-right: 10px;}
.box-duyettin{background-color: #ff774e;padding: 10px;color: #fff;border-radius: 5px;}
.box-duyettin label{font-weight: 500;}
.title-job .btn{padding-left: 8px;padding-right: 8px;background-color: transparent;font-weight: 400;color: #101010;}
::-webkit-scrollbar {width: 8px;background-color: #F5F5F5;height: 6px;} 
::-webkit-scrollbar-thumb {background-color: #3c8dbc;}
::-webkit-scrollbar-track {-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.3);background-color: #F5F5F5;}
.emb-cv{margin-bottom: 20px;}
.control-sidebar-dark .control-sidebar-menu>li>a:hover h4 {
    font-weight: 600;
    font-size: 13px;
    color: #fff;
}
.control-sidebar-dark .control-sidebar-menu>li>a:hover p {
    color: #fff;
}
.control-sidebar-menu .menu-info>p{font-size: 13px;}
.control-sidebar-menu>li .close {
    float: none;
    position: absolute;
    right: 10px;
    z-index: 30;
    font-size: 20px;
    padding: 0px 6px;
}
.fa{
    line-height: 20px;
}
.m0{margin-left: 0px !important;margin-right: 0px !important;}.p0{padding: 0px !important;}.m-5{margin-left: -5px !important;margin-right: -5px !important;}.p5{padding-left: 5px !important;padding-right: 5px !important;}.m-10{margin-left: -10px;margin-right: -10px}.p10{padding-left: 10px !important;padding-right: 10px !important;}
.thongtinungvien{padding-right: 15px;font-size: 14px;}
.thongtinungvien p{color: #000;font-weight: 700;border-bottom: 1px dotted #ccc;padding-bottom: 7px;margin-bottom: 7px;}
.thongtinungvien p span{text-transform: uppercase;font-weight: 400;color: #ff4b49;font-size: 13px;display: block;margin-bottom: 3px;}
.thongtincongty{
}
.thongtincongty img{margin-bottom: 14px;}
.thongtincongty p{font-weight: 600;text-transform: uppercase;}
.thongtincongty p span{color: #a0a0a0;font-weight: 500;text-transform: initial;}
.thongtincongty .ten_congty{text-transform: uppercase;font-size: 16px;font-weight: 700;}
.avata-user{height: 40px;width: 40px;display: inline-block;margin-top: -15px;margin-bottom: -15px;margin-right: 5px;border-radius: 50%;overflow: hidden;}
.avata-user img{width: 40px;height: 40px;object-fit: cover;}
.control-sidebar-dark .control-sidebar-menu>li>a:hover p{color: #fff;}
.control-sidebar-dark .control-sidebar-menu>li>a:hover h4{font-weight: 600;font-size: 13px;color: #fff;}
.control-sidebar-heading:after{content:"";display: block;clear: both;}
.control-sidebar-heading a{font-size: 12px;}
.control-sidebar-menu>li>a.chuaxem{background-color: #fff;}
.control-sidebar-menu .menu-info>.control-sidebar-subheading:after{content:"";display: block;}
.control-sidebar-menu>li>a .time{font-size: 11px;color: #8d8d8d;}
.control-sidebar-dark .control-sidebar-menu>li>a:hover .time{color:#fff}
.control-sidebar-menu>li{position:relative;}
.control-sidebar-menu>li .close{float: none;position: absolute;right: 10px;z-index: 30;font-size: 20px;padding: 0px 6px;}
.text-control{padding-top: 5px;color: #777;padding-bottom: 5px;}
.timeline2{list-style: none;padding: 0;position: relative;padding-left: 10px;}
.timeline2:before{content:"";height: 100%;width: 2px;background-color: #ff4b49;position: absolute;left: 5px;}
.timeline2 li{position: relative;padding-left: 9px;margin-bottom: 10px;margin-top: 10px;}
.timeline2 li:before{content:"";position: absolute;width: 10px;height: 10px;border: 1px solid #ff4b49;border-radius: 50%;background-color: #fff;top: 4px;left: -9px;}
.timeline2 li:after{content:"";display: block;clear: both;}
.text-job{border-bottom: 1px dashed #ccc;padding-bottom: 10px;margin-bottom: 10px;}
.text-cv{border-bottom: 1px dashed #ccc;padding-bottom: 10px;margin-bottom: 10px;}
.text-cv small{font-size: 13px;display: block;margin-top: 5px;}
.text-cv h4, .text-pv h4{text-transform: uppercase;font-size: 13px;color: #818181;font-weight: 600;}
.timeline-job {
    max-height: 500px;
    overflow: auto;
}
.box-per{margin-bottom: 20px;}
.item-per{
    border: 1px solid #ccc;
    margin-bottom: 5px;
    padding: 0px 10px 5px;
}
.list-action{border-top: 1px dashed #ccc;padding-top: 3px;text-align: right;margin-top: 5px;}
.list-action label{font-weight: 500;color: #ff4c4a;margin-left: 10px;margin-bottom: 0;}
.list-action span{position: relative;top: -2px;}
.pagination>li>a, .pagination>li>span{padding: 5px 10px;}
.box-img{height: 150px;margin-bottom: 10px;text-align: center;}
.box-img img{height: 100%;max-height: 100%;}
.btn-upload{display: block;position: relative;cursor: pointer;height: 34px;line-height: 34px;text-align: center;background-color: #e4e4e4;color: #201f1f;border-radius: 5px;}
.btn-upload input{position: absolute;top: 0;bottom: 0;left: 0;right: 0;z-index: 10;cursor: grab;opacity: 0;}
#text-filename{height: 34px;line-height: 34px;}
#text-filename .error{color: red;}
.item-album{height: 90px;margin-bottom: 15px;position: relative;}
.item-album img{width: 100%;height: 100%;object-fit: contain;}
.item-album .btn-delete-album, .btn-delete-album{position: absolute;right: 0;background-color: red;color: #fff;padding: 0px 3px;}
.box-title{background-color: #ecf0f5;font-size: 16px;text-transform: uppercase;padding: 12px 15px;font-weight: 600;margin-top: 0;margin-bottom: 20px;}
.box-img2{display: block;position: relative;/* border: 1px solid #eee; */height: 140px;margin-bottom: 10px;text-align: center;background-color: #f6f6f6;}
.box-img2 .btn{position: absolute;right: 5px;top: 5px;}
.box-img2 img{margin: 0px auto;height: 100%;width: 100%;object-fit: contain;}
legend {
    display: block;
    -webkit-padding-start: 2px;
    -webkit-padding-end: 2px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
}
.info-product{
    margin-bottom:10px;
}
#add,.delinfo{
    cursor:pointer;
}
fieldset{
    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    width: 100%;
    margin-bottom:10px;
    box-shadow: 3px 4px 3px #ccc;
    -moz-box-shadow: 3px 4px 3px #ccc;
    -webkit-box-shadow: 3px 4px 3px #ccc;
}
.info-product input{
    padding-left: 15px;
    padding-right: 15px;
    border: 1px solid  #d2d6de;
    height: 30px;
    width: 40%;
    border: 1px solid #e7e7e7 !important;
    border-radius: 5px;
    /* font-weight: bold; */
}
.delinfo{
    border: 1px solid #ccc;
    height: 30px;
    display: inline-block;
    /* width: 30px; */
    text-align: center;
    line-height: 30px;
    border-radius: 5px;
    background-color: #d10505;
    color: #fff;
    font-size: 14px;
    padding-left: 10px;
    padding-right: 10px;
}
#body_html iframe, #body_html video, #body_html audio{/* width: 100% !important; *//* height: 250px !important; */margin-top: 20px;/* border: 1px solid; */margin: 0px auto;}
.box-uploadimg{position: relative;background-color: #3c8dbc;padding: 7px 10px;border-radius: 4px;color: #fff;/* width: 50%; */margin: 0px auto;margin-top: 10px;cursor: pointer;}
.box-uploadimg input{position: absolute;width: 100%;height: 100%;opacity: 0;top: 0;left: 0;right: 0;bottom: 0;z-index: 10;cursor: pointer;}
.box-uploadimg span{
}
.dataTables_filter, .dataTables_paginate{text-align:right}
.dataTables_info{line-height: 30px;}
.card{border-radius: 2px;/* box-shadow: 0 0 0 1px #e2e5e8; */border: none;margin-bottom: 0;transition: all 0.5s ease-in-out;/* --bs-body-color: #686c71; */margin-top: 10px;padding-top: 10px;background-color: #fff;min-height: 90%;padding-top: 0;border-radius: 10px;overflow: hidden;}
.card-header{background-color: transparent;border-bottom: 1px solid #e2e5e8;padding: 9px 20px;position: relative;}
.card-header_title{margin-top: 0;font-weight: 600;font-size: 22px;background-repeat: no-repeat;background-position:  center left;padding-left: 0;background-size: 27px;margin-bottom: 0;padding-top: 5px;padding-bottom: 5px;}
.card-body{padding: 15px;margin-bottom: 10px;min-height: 60vh;font-size: 14px;font-size: 15px;}
.accordion{--bs-accordion-color:#212529;--bs-accordion-bg:#fff;--bs-accordion-transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,border-radius .15s ease;--bs-accordion-border-color:var(--bs-border-color);--bs-accordion-border-width:1px;--bs-accordion-border-radius:.375rem;--bs-accordion-inner-border-radius:calc(0.375rem - 1px);--bs-accordion-btn-padding-x:1.25rem;--bs-accordion-btn-padding-y:1rem;--bs-accordion-btn-color:#212529;--bs-accordion-btn-bg:var(--bs-accordion-bg);--bs-accordion-btn-icon:url("data:image/svg+xml,%3csvgxmlns='http://www.w3.org/2000/svg'viewBox='001616'fill='%23212529'%3e%3cpathfill-rule='evenodd'd='M1.6464.646a.5.5001.7080L810.293l5.646-5.647a.5.5001.708.708l-66a.5.5001-.7080l-6-6a.5.50010-.708z'/%3e%3c/svg%3e");--bs-accordion-btn-icon-width:1.25rem;--bs-accordion-btn-icon-transform:rotate(-180deg);--bs-accordion-btn-icon-transition:transform .2s ease-in-out;--bs-accordion-btn-active-icon:url("data:image/svg+xml,%3csvgxmlns='http://www.w3.org/2000/svg'viewBox='001616'fill='%230c63e4'%3e%3cpathfill-rule='evenodd'd='M1.6464.646a.5.5001.7080L810.293l5.646-5.647a.5.5001.708.708l-66a.5.5001-.7080l-6-6a.5.50010-.708z'/%3e%3c/svg%3e");--bs-accordion-btn-focus-border-color:#86b7fe;--bs-accordion-btn-focus-box-shadow:0 0 0 .25rem rgba(13,110,253,0.25);--bs-accordion-body-padding-x:1.25rem;--bs-accordion-body-padding-y:1rem;--bs-accordion-active-color:#0c63e4;--bs-accordion-active-bg:#e7f1ff}.accordion-button{position:relative;display:flex;align-items:center;width:100%;padding: 10px 15px;font-size:1rem;color: #171A1F;text-align:left;background-color: rgb(30 87 111 / 17%);border:0;border-radius:0;overflow-anchor:none;transition:var(--bs-accordion-transition);font-size: 17px;font-weight: 500;}@media(prefers-reduced-motion:reduce){.accordion-button{transition:none}}.accordion-button:not(.collapsed){color:var(--bs-accordion-active-color);background-color: transparent;box-shadow:inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color);color: #16191E;font-weight: 600;box-shadow: none !IMPORTANT;border-bottom: 1px dashed var(--bs-primary);}.accordion-button:not(.collapsed)::after{background-image:var(--bs-accordion-btn-active-icon);transform:var(--bs-accordion-btn-icon-transform);background-color: var(--bs-dark);color: #ffff;}.accordion-button::after{flex-shrink:0;width:var(--bs-accordion-btn-icon-width);height:var(--bs-accordion-btn-icon-width);margin-left:auto;content:"";background-image:var(--bs-accordion-btn-icon);background-repeat:no-repeat;background-size:var(--bs-accordion-btn-icon-width);transition:var(--bs-accordion-btn-icon-transition);background-color: #fff;width: 30px;height: 30px;text-align: center;line-height: 30px;border-radius: 50%;color: var(--bs-primary);font-size: 16px;}@media(prefers-reduced-motion:reduce){.accordion-button::after{transition:none}}.accordion-button:hover{z-index:2}.accordion-button:focus{z-index:3;border-color: transparent;outline:0;box-shadow:var(--bs-accordion-btn-focus-box-shadow)}.accordion-header{margin-bottom:0}.accordion-item{color:var(--bs-accordion-color);background-color:var(--bs-accordion-bg);border: sienna;margin-bottom: 15px;box-shadow: 1px 1px 6px 1px #f1f1f1;border-radius: 6px !IMPORTANT;overflow: hidden;}.accordion-item:first-of-type{}.accordion-item:first-of-type .accordion-button{border-top-left-radius:var(--bs-accordion-inner-border-radius);border-top-right-radius:var(--bs-accordion-inner-border-radius)}.accordion-item:not(:first-of-type){border-top:0}.accordion-item:last-of-type{border-bottom-right-radius:var(--bs-accordion-border-radius);border-bottom-left-radius:var(--bs-accordion-border-radius)}.accordion-item:last-of-type .accordion-button.collapsed{border-bottom-right-radius:var(--bs-accordion-inner-border-radius);border-bottom-left-radius:var(--bs-accordion-inner-border-radius)}.accordion-item:last-of-type .accordion-collapse{border-bottom-right-radius:var(--bs-accordion-border-radius);border-bottom-left-radius:var(--bs-accordion-border-radius)}.accordion-body{padding:var(--bs-accordion-body-padding-y) var(--bs-accordion-body-padding-x);background-color: #fff;font-size: 14px;}.accordion-flush .accordion-collapse{border-width:0}.accordion-flush .accordion-item{border-right:0;border-left:0;border-radius:0}.accordion-flush .accordion-item:first-child{border-top:0}.accordion-flush .accordion-item:last-child{border-bottom:0}.accordion-flush .accordion-item .accordion-button,.accordion-flush .accordion-item .accordion-button.collapsed{border-radius:0}
 .collapse:not(.show){
     display: none;
 }

.table_form{}
.badgeform{background: var(--bs-primary);color: #fff !important;padding: 6px 15px;display: inline-block;font-size: 13px;border-radius: 30px;width: 110px;}
.badgeform span{position: relative;}
.badgeform span:before{content:"";width: 5px;height: 5px;display: inline-block;background-color: #ffff;position: relative;top: -2px;margin-right: 7px;border-radius: 50%;}
.table_form tbody tr td{font-weight: 400;padding: 7px 15px;font-size: 15px;color: #313642;border-bottom: none;}
.badgeform:hover{background-color: var(--bs-dark);}
.card_body-title{font-size: 16px;font-weight: 600;color: var(--bs-primary);margin-top: 25px;margin-bottom: 10px;padding-left: 15px;}
.card-body form .card_body-title:nth-child(1){margin-top: 0;}
.form_text{line-height: 24px;}
.card-body li{margin-bottom: 12px;}
.form_text p{padding-left: 15px;}
.card-body .form-check{padding-left: 45px;margin-bottom: 13px;font-weight: 500;font-size: 15px;}
.card-body .form-check input{width: 18px;height: 18px;margin-left: -30px;position: absolute;}
.swal-title{font-size:18px;margin-bottom:20px}
.input_form{text-align: center;width: 100px;background-color: #F2F3F4;border: none !important;font-size: 14px;font-weight: 400;height: 35px;box-shadow: none !IMPORTANT;outline: none !IMPORTANT;}
table.table_form thead tr th, table.table_form tbody tr td, table.table_form tfoot tr th,{
}
table.table_form tbody tr td p{margin-bottom: 0;}
.card-body .btn-main{padding: 8px;font-weight: 500;font-size: 18px;}
.col_table{width: 100%;text-align: center;position: relative;border-right: 1px solid #ccc;border-bottom: 1px solid #cccc;}
.col_table input{opacity: 0;}
.col_table label{position: absolute;left: 1px;top: 1px;right: 1px;bottom: 1px;/* background-color: #fafafa; */cursor: pointer;margin-bottom: 0}
.col_table label:hover{background-color: #48887b42;}
.col_table label.active{
}
.list_thietbi{font-weight: 600;}
.list_thietbi .color{width: 30px;height: 30px;margin-right: 10px;}
.list_thietbi .item_thietbi{margin-right: 40px;}
 .btn-main{padding-left: 30px !IMPORTANT;padding-right: 30px !important;font-size: 14px !IMPORTANT;}
 .nav_sidebar{list-style: none;padding: 0;padding-top: 0;margin-top: 20px;}
.nav_sidebar li{
}
.nav_sidebar li a{display: block;background-color: #3c8dbc;padding: 15px;margin-bottom: 12px;border-radius: 5px;font-weight: 500;font-size: 16px;color: #fff;margin-left: 10px;}
.nav_sidebar li a.active{background-color: #1a2226;color: #fff;}
.nav_sidebar li a img{height: 27px;margin-right: 10px;}
.nav_sidebar li a:hover{background-color: #222d32;color: #fff;}
.nav_sidebar li a:hover>img{filter: brightness(0) invert(1);}
.nav_sidebar li a.active img{filter: brightness(0) invert(1);}
.text-end{text-align: right}
.d-flex {
    display: flex !important;
}
.justify-content-between {
    justify-content: space-between !important;
}
.align-items-center {
    align-items: center !important;
}
.mb-4{margin-bottom: 50px}
.mt-5{margin-top: 100px}
@media screen and (max-width: 1024px){
    .table-responsive>.table>tbody>tr>td, .table-responsive>.table>tbody>tr>th, .table-responsive>.table>tfoot>tr>td, .table-responsive>.table>tfoot>tr>th, .table-responsive>.table>thead>tr>td, .table-responsive>.table>thead>tr>th {
        white-space: nowrap;
    }
}
.boximg{border: 1px solid #ccc;display: block;height: 100%;}
.list-tags{
}
.list-tags a{
        display: inline-block;
        padding: 1px 5px;
        background-color: #3c8dbc;
        color: #fff;
        border-radius: 15px;
        font-size: 11px;
}
.mb-3{
    margin-bottom: 20px;
}
.invalid-feedback{
    display: none
}
.card-body .form-control{font-weight: 500;font-size: 15px;min-height: 41px;color: #000;border: 1px solid #sddd;}
.list-tags a.active{background-color: #e0e0e0;color: #454444;}
.btn-upload2{background-color: #3c8dbccc;color: #fff;padding: 5px 18px;font-size: 13px;display: block; margin-left: 0;width: 100%;left: 0;right: 0 !important;bottom: 0;top: auto !important;border-radius: 0;}
.btn-upload2 i{margin-right: 10px;}
.box-thuoctinh{padding: 10px;border: 1px solid #3c8dbc;position: relative;margin-top: 25px;margin-bottom: 15px;padding-top: 24px;}
.box-thuoctinh .name-thuoctinh{position: absolute;background-color: #fff;top: -12px;padding: 3px 5px;font-weight: 600;}
.box-thuoctinh button.btn-add-tt{position: absolute;right: 3px;top: -16px;}
.item-thuoctinh{border-bottom: 1px dashed #ccc;margin-bottom: 10px;}
.nav-tabs>li>a{
    font-size: 13px;
    padding: 5px 10px;
    font-weight: 400;
}